body {
    margin: 0;
}

.App {
    background-color: #292929;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.Animation {
    background-color: #000000;
    width: calc(((100vw - (100vw / 1.33)) / 2) - 1vw);
    height: 100vh;
}

.ContentFrame {
    background-color: #292929;
    width: calc(100vw / 1.33);
    height: 96vh;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.Content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 30%;
    animation: normal onStartAnimation 2s;
}

.FilterFrame {
    position: absolute;
    z-index: 0;
    width: calc(100vw / 1.33);
    height: 96vh;
    margin: 0;
    margin-top: 2vh;
    margin-left: calc((100vw - (100vw / 1.33)) / 2);
    padding: 0;
    border-radius: 30%;
    /* opacity: 25%; */
    opacity: 100%;
    animation: normal onStartAnimation 2s;
    /* background-image: radial-gradient(white, black, grey); */
    background-color: green;
    /* background-size: 6px 95px;
    background-image: linear-gradient(
        90deg,
        hsl(0deg 0% 0%) 1%,
        hsl(121deg 0% 12%) 43%,
        hsl(132deg 0% 21%) 50%,
        hsl(135deg 0% 31%) 51%,
        hsl(136deg 0% 41%) 51%,
        hsl(136deg 0% 52%) 49%,
        hsl(137deg 0% 64%) 49%,
        hsl(137deg 0% 75%) 50%,
        hsl(137deg 0% 88%) 57%,
        hsl(0deg 0% 100%) 99%
    ); */
}

.Space {
    padding-top: 50px;
}

.Runner {
    background-color: black;
    height: 1vh;
    animation: RunnerFrame 5s linear infinite;
    /* background-image: linear-gradient(
        90deg,
        hsl(0deg 0% 100%) 1%,
        hsl(137deg 0% 88%) 43%,
        hsl(137deg 0% 75%) 50%,
        hsl(137deg 0% 64%) 51%,
        hsl(136deg 0% 52%) 51%,
        hsl(136deg 0% 41%) 49%,
        hsl(135deg 0% 31%) 49%,
        hsl(132deg 0% 21%) 50%,
        hsl(121deg 0% 12%) 57%,
        hsl(0deg 0% 0%) 99%
    );
    background-size: 10px 10px; */
}

.Runner1 {
    background-color: blue;
    height: 0.3vh;
    animation: RunnerFrame 60s linear infinite;
    /* background-image: repeating-radial-gradient(black, grey, white);
    background-size: 10px 100px; */
} 

/* @keyframes RunnerTurn {
    0%{
        background-image: repeating-radial-gradient(black, grey, white);
    }
    100% {
        background-image: repeating-radial-gradient(white, grey, black);
    }
} */

@keyframes RunnerFrame {
    0% {
        transform: translateY(0vh);
        width: 40%;
        margin-left: 30%;
        /* background-image: repeating-radial-gradient(black, grey, white); */
    }
    1% {
        width: 55.4%;
        margin-left: 22.3%;
    }
    2% {
        width: 62%;
        margin-left: 19%;
    }
    3% {
        width: 66%;
        margin-left: 17%;
    }
    4% {
        width: 70.4%;
        margin-left: 14.8%;
    }
    5% {
        width: 73.2%;
        margin-left: 13.4%;
    }
    6% {
        width: 76.6%;
        margin-left: 11.7%;
    }
    7% {
        width: 78.6%;
        margin-left: 10.7%;
    }
    8% {
        width: 81.2%;
        margin-left: 9.4%;
    }
    9% {
        width: 83%;
        margin-left: 8.5%;
    }
    10% {
        width: 85%;
        margin-left: 7.5%;
    }
    11% {
        width: 86.8%;
        margin-left: 6.6%;
    }
    12% {
        width: 88%;
        margin-left: 6%;
    }
    /* ----------------------*/
    13% {
        width: 100%;
        margin-left: 5.9%;
    }
    14% {
        width: 100%;
        margin-left: 5.2%;
    }
    15% {
        width: 100%;
        margin-left: 4.6%;
    }
    16% {
        width: 100%;
        margin-left: 4%;
    }
    /* ----------------------*/
    17% {
        width: 93%;
        margin-left: 3.5%;
    }
    18% {
        width: 94%;
        margin-left: 3.0%;
    }
    19% {
        width: 94.8%;
        margin-left: 2.6%;
    }
    20% {
        width: 95.8%;
        margin-left: 2.1%;
    }
    21% {
        width: 96.4%;
        margin-left: 1.8%;
    }
    22% {
        width: 97%;
        margin-left: 1.5%;
    }
    23% {
        width: 97.6%;
        margin-left: 1.2%;
    }
    24% {
        width: 98%;
        margin-left: 1%;
    }
    25% {
        width: 98.4%;
        margin-left: 0.8%;
    }
    26% {
        width: 99%;
        margin-left: 0.5%;
    }
    27% {
        width: 99.2%;
        margin-left: 0.4%;
    }
    28% {
        width: 99.4%;
        margin-left: 0.3%;
    }
    29% {
        width: 99.6%;
        margin-left: 0.2%;
    }
    30% {
        width: 100%;
        margin-left: 0%;
    }
    70% {
        width: 100%;
        margin-left: 0%;
    }
    71% {
        width: 99.6%;
        margin-left: 0.2%;
    }
    72% {
        width: 99.4%;
        margin-left: 0.3%;
    }
    73% {
        width: 99.2%;
        margin-left: 0.4%;
    }
    74% {
        width: 99%;
        margin-left: 0.5%;
    }
    75% {
        width: 98.4%;
        margin-left: 0.8%;
    }
    76% {
        width: 98%;
        margin-left: 1%;
    }
    77% {
        width: 97.6%;
        margin-left: 1.2%;
    }
    78% {
        width: 97%;
        margin-left: 1.5%;
    }
    79% {
        width: 96.4%;
        margin-left: 1.8%;
    }
    80% {
        width: 95.8%;
        margin-left: 2.1%;
    }
    81% {
        width: 94.8%;
        margin-left: 2.6%;
    }
    82% {
        width: 94%;
        margin-left: 3.0%;
    }
    83% {
        width: 93%;
        margin-left: 3.5%;
    }
    84% {
        width: 92%;
        margin-left: 4%;
    }
    85% {
        width: 90.8%;
        margin-left: 4.6%;
    }
    86% {
        width: 89.6%;
        margin-left: 5.2%;
    }
    87% {
        width: 88.2%;
        margin-left: 5.9%;
    }
    88% {
        width: 86.8%;
        margin-left: 6.6%;
    }
    89% {
        width: 85.2%;
        margin-left: 7.4%;
    }
    90% {
        width: 83.4%;
        margin-left: 8.3%;
    }
    91% {
        width: 81.6%;
        margin-left: 9.2%;
    }
    92% {
        width: 79.8%;
        margin-left: 10.1%;
    }
    93% {
        width: 77.2%;
        margin-left: 11.4%;
    }
    94% {
        width: 75%;
        margin-left: 12.5%;
    }
    95% {
        width: 72.2%;
        margin-left: 13.9%;
    }
    96% {
        width: 68.8%;
        margin-left: 15.6%;
    }
    97% {
        width: 65.2%;
        margin-left: 17.4%;
    }
    98% {
        width: 60.8%;
        margin-left: 19.6%;
    }
    99% {
        width: 54.6%;
        margin-left: 22.7%;
    }
    100% {
        transform: translateY(96vh);
        width: 40%;
        margin-left: 30%;
        /* background-image: repeating-radial-gradient(white, grey, black); */
    }
}

/* @keyframes onStartAnimation {
	0% {
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
} */

/* .Runner {
    background-color: black;
    height: 0.3vh;
    animation: RunnerFrame 1s linear infinite alternate;
    background-image: repeating-radial-gradient(black, grey, white);
    background-size: 10px 1px;
}

.Runner1 {
    background-color: black;
    height: 0.3vh;
    animation: RunnerFrame 3s linear infinite;
    background-image: repeating-radial-gradient(black, grey, white);
    background-size: 10px 100px;
} */